#landing-page {
  padding-top: 10%;
  background: #CCE2FF url('https://fh-sites.imgix.net/sites/2813/2017/10/06201024/North-Shore-Hawaii.jpg?auto=compress%2Cformat&w=1000&h=1000&fit=max') no-repeat fixed center center;
  background-size: cover;
  padding-bottom: 100%;
  color: white;
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.clickHere {
  padding-top: 20px;
  padding-bottom: 10px;
}

