#landing-page {
  padding-top: 10%;
  background-color: #CCE2FF;
  background: url('https://h-mar.org/wp-content/uploads/2019/04/shutterstock_1079402375-min.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 20%;

  color: white;
}
.logo {
  padding-top: 20px;
  padding-bottom: 20px;
}
.clickHere {
  padding-top: 20px;
  padding-bottom: 10px;
}

